<!--{% for tree in trees %}

<div class="col-md-4 col-lg-3">

    <a href="{% url 'trees:tree_profile' tree.id %}"
       class="text-decoration-none">

        <div class="card tree-card h-100 shadow-sm border-0">

            {% if tree.images.first %}

                <img
                    src="{{ tree.images.first.image.url }}"
                    class="card-img-top"
                    style="height:220px;object-fit:cover;">

            {% endif %}

            <div class="card-body">

                <h5 class="card-title">
                    {{ tree.common_name }}
                </h5>

                <p class="small text-muted fst-italic">
                    {{ tree.scientific_name }}
                </p>

            </div>

        </div>

    </a>

</div>

{% endfor %}-->


{% for tree in trees %}

<div class="col-md-4 col-lg-3 tree-item" data-id="{{ tree.id }}">

    <a href="{% url 'trees:tree_profile' tree.id %}" class="text-decoration-none">
        <div class="card tree-card h-100 shadow-sm border-0">
            {% if tree.images.first %}
                <img src="{{ tree.images.first.image.url }}" class="card-img-top" style="height:220px;object-fit:cover;">
            {% else %}
                <div class="bg-light d-flex justify-content-center align-items-center" style="height:220px;">
                    <i class="bi bi-tree-fill fs-1 text-success"></i>
                </div>
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">
                    {{ tree.common_name }}
                </h5>
                
                <p class="small text-muted fst-italic mb-2">
                    {{ tree.scientific_name }}
                </p>

                <span class="badge bg-success">
                    {{ tree.get_tree_type_display }}
                </span>

            </div>

        </div>

    </a>

</div>

{% endfor %}